######################################################################
# Archives
*.zip
*.rar
*.7z
*.tar
*.gz

######################################################################
# Dependencies & build output
node_modules/
.m2/
target/
build/
dist/

######################################################################
# Temp / tool caches
.codex_tmp/

######################################################################
# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

######################################################################
# Runtime data
logs/
*.log
upload/
用户附件/

######################################################################
# Local password config (do not commit)
RuoYi-Vue-master/ruoyi-admin/src/main/resources/application-druid.yml
